.new_list {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    flex-wrap: wrap;
}

.news_list__title {
    font-size: 2rem;
    font-weight: bold;
}

.new_list__aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new_list__item {
    display:flex;
    height: 10vh;
    padding: 10px;
    padding-bottom: 10px;
    gap: 10px;
    width:100%;
}

.new_list__item:hover {
    background-color: lightgray;
}

.new_list__img {
    width: 15%;
    object-fit: contain;
    object-position: center;
    display:none;
}

.new_list__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new_list__title {
    font-weight: bold;
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Número de líneas antes de truncar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.new_list__content {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas antes de truncar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (width >= 700px) {
    .new_list__item {
        flex-direction: column;
        height: auto;
    }
    .new_list__img {
        display:inherit;
        width: 100%;
        max-height: 100px;
    }
    .new_list__text {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .new_list {
        flex-direction:row;
    }

    .new_list__item {
        gap: 10px;
        width: calc(50% - 10px);
    }
}

@media (width >= 1000px)  {
    .new_list__item {
        width: calc(33.333% - 10px);
    }
}